html {
	min-height: 100%;
	font-size: 62.5%;
}
body{
	font-family: $font_primary;
	color: $text_c;
	@include font-size(16);
	font-weight: 400;
	img{
		max-width: 100%;
		display: block;
	}
}
#map {
	height: 400px;
	width: 100%;
}
