html {
	min-height: 100%;
	font-size: 62.5%;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: $text_c;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	img{
		max-width: 100%;
		display: block;
	}
}
#map {
	height: 400px;
	width: 100%;
}